@import '~bootstrap/scss/bootstrap';

//VARIABLES

$color-blue : #0282F9;

//HEADER

.header-overline{
    height: 30px;
    background-color: $color-blue;
    font-size: small;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}

nav{
    height: 100px;
    .logo-h{
        height: 80%;
        padding: 10px 0;
    }
    
    ul.menu{
        text-transform: uppercase;
        color: gray;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        li{
            padding: 30px 0;
            margin: 0 10px;
            cursor: pointer;
            &:hover{
                padding-bottom: 25px;
                border-bottom: 5px $color-blue solid;
            }
            a{
                color: inherit;
                font-weight: inherit;
                text-decoration: inherit;
            }
        }
    }
    
    .my-serchbar{
        border-bottom: 3px solid $color-blue;
        padding: 0;
        .my-input{
            border: none;
            text-align: end;
        }
    }
    
}